
*{
  margin: 0;
  padding: 0;
}

textarea {
  resize: none !important;
}
.text-white-area{
  color: white !important;
}
.text-white-area::placeholder {
  color: white !important;
}
.div-text-area{
  color: white !important;
}
.div-text-area::placeholder {
  color: white !important;
}