
*{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 100%;
  height: 620px;
}
.wrapper-principal{
  background-image: url("./assets/imageWrapper2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 620px;
  display: flex;
  flex-direction: column;
}
.img-wrapper{
  width: 100%;
  height: 100%;
}
textarea {
  resize: none !important;
}
.text-white-area{
  color: white !important;
}
.text-white-area::placeholder {
  color: white !important;
}
.div-text-area{
  color: white !important;
}
.div-text-area::placeholder {
  color: white !important;
}